*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: aqua;
    display: flex;
    justify-content: center;
}

a:hover{
    filter: brightness(0.7);
}

.logo:hover{
    filter: brightness(1);
}

.section{
    width: 70%;
}

.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

header>.section>*{
    padding: 0.6rem 0;
}

.links{
    display: flex;
    align-items: center;
}

header>.section>.links>a{
    margin: 1rem;
    color: white;
    text-decoration: none;
}

header>.section>.logo>img{
    width: 5rem;
    padding-left: 0;
}

.button>a{
    background-color: aliceblue;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    padding-top: 5rem;
}

.col-8{
    width: calc((100% /12) *8);
    padding: 1rem;
}

.col-4{
    width: calc((100% /12) *4);
    padding: 1rem;
}

.col-4>.card>img{
    width: 50%;
    
}

.col-8>.card>img{
    margin-bottom: 0;
}

.card{
    display: flex;
    border-radius: 30px;
    background-color: aquamarine;
    height: 100%;
}

.card>*{
    margin: 1rem;
}

.col-4>.card{
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.left-text>*{
    padding-top: 3rem;
}

.purple{
    background-color: purple;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.planning{
    display: flex;
    align-items: flex-end;
}

.planning>*{
    margin: 2rem;
}

.container-6{
    width: calc((100% /12) *6);
}

.full{
    align-self: flex-start;
}

.full>.subcontainer>h2{
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.full>.subcontainer>*{
    padding: 1rem 0;
}

.short{
    margin-top: 10rem;
    height: 60%;
    background-color: aliceblue;
    border-radius: 60px;
}

.short>.subcontainer{
    text-align: center;
}

.short>.subcontainer>*{
    padding-top:5rem;
}

.short>.subcontainer>p{
    padding-bottom: 2rem;
}

.short>.subcontainer>p{
    padding-bottom: 2rem;
}

.short>.subcontainer>img{
    width: 60%;
}

.symbol{
    padding-bottom: 2rem;
}

img{
    width: 100%;
}