*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

header{
    background-color: aqua;
    display: flex;
    justify-content: center;
}

a:hover{
    filter: brightness(0.7);
}

.logo:hover{
    filter: brightness(1);
}

.section{
    width: 70%;
}

.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

header>.section>*{
    padding: 0.6rem 0;
}

.links{
    display: flex;
    align-items: center;
}

header>.section>.links>a{
    margin: 1rem;
    color: white;
    text-decoration: none;
}

header>.section>.logo>img{
    width: 5rem;
    padding-left: 0;
}

.button>a{
    background-color: aliceblue;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    padding-top: 5rem;
}

.col-8{
    width: calc((100% /12) *8);
    padding: 1rem;
}

.col-4{
    width: calc((100% /12) *4);
    height: calc((70vw /12) *4);
    padding: 1rem;
}

.col-8>.card>.left-text{
    width: 140%;
}

.col-8>.card>img{
    margin-top: 10%;
    margin-bottom: 0;
    margin-right: 5rem;
}

.card{
    display: flex;
    border-radius: 30px;
    background-color: aquamarine;
    height: 100%;
}

.col-4>.card{
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.card>*{
    margin: 1rem 2rem;
}

.col-4>.card>img{
    width: 30%;
    margin-top: 3rem;
}

.left-text>*{
    margin: 2.5rem 0;
}

.left-text>.button{
    text-decoration: none;
    color: black;
    margin-top: 1rem;
}

.button{
    background-color: aqua;
    padding: 0.6rem 5rem;
    border-radius: 15px;
}

.purple{
    background-color: purple;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.planning{
    display: flex;
    align-items: flex-end;
}

.planning>*{
    margin: 2rem;
}

.container-6{
    width: calc((100% /12) *6);
}

.full{
    align-self: flex-start;
}

.full>.subcontainer>h2{
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.full>.subcontainer>*{
    padding: 1rem 0;
}

.short{
    margin-top: 10rem;
    background-color: aliceblue;
    border-radius: 60px;
    padding-bottom: 2rem;
}

/* prova */

.short>.subcontainer{
    text-align: center;
}

.short>.subcontainer>*{
    margin: 0 1rem;
    margin-top:3rem;
}

.short>.subcontainer>p{
    padding-bottom: 2rem;
}

.short>.subcontainer>img{
    width: 60%;
}

.symbol{
    text-decoration: none;
    color: black;
    background-color: gray;
    padding: 0.8rem 1rem;
    border-radius: 40px;
}

.vertical{
    margin-top: 3rem;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
}

.quote{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.quotation{
    display: flex;
    align-items: center;
    background-color: purple;
    padding: 1rem 0.5rem;
    border-radius: 30px;
}

.quotation>img{
    width: 10rem;
    height: 6rem;
    object-fit: cover;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100px;
}

.quotation-text{
    margin: 0 2rem;
}

.quotation-text>p{
    margin-bottom: 1rem;
}